.App {
  text-align: center;
  width: 90%;
  margin: auto;
}

.home_div {
  margin: 1%;
  padding: 2%;
  width: 100%;
  text-align: center;
}

.ul_app {
 font-size: 110%;
  background-color: 	#30333e;
  width: 100%;
	display:flex;
	justify-content: space-around;
  text-decoration: none;
  justify-content: space-around
}

.li_app {
  padding: 2%;
  list-style-type: none;
  

}

/* Home */

.div_h1 {
  font-size:2rem;
  margin: 1%;
  padding: 2%;
}

.home_div_child {
  font-size:1.2rem;
  margin: 1%;
  padding: 2%; 
  display: flex;
  justify-content: space-between;
}

.div_home_left {
  display: inline-block;
  vertical-align: top;
  margin: 1%;
  width: 50%;
  
}

.button_home {
  font-size:1.5rem;
  border-radius: 12%;
  padding: 5% 10%; 
  opacity: 0.6;
  margin: 0% 0% 10% 0% ;
  border-color: #e7e7e7;
}

.button_home:hover {
	opacity: 1
}

/* LOGOUT */

.div_logout{
    display: block;
    font-size: 150%;
    padding: 20%;
}


.button_logout {
  font-size:1rem;
  border-radius: 12%;
  padding: 1% 5%; 
  opacity: 0.6;
  margin: 10% 0% 10% 0% ;
  border-color: #e7e7e7;
}

.button_logout:hover {
	opacity: 1
}

/* LOG IN */

.div_login{
  border-color: red;
  display: block;
  padding: 5%;
  padding-left: 20%;


}
.div_form{

  font-size: 130%;
}
.button_login {
  font-size:1rem;
  border-radius: 12%;
  padding: 1% 2%; 
  opacity: 0.6;
  margin: 1% 0% 1% 0% ;
  border-color: #e7e7e7;
}

.button_login:hover {
	opacity: 1
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style:  hidden;
  background-color: #eee;
}
input::placeholder {
  color: grey;
  font-size: 90%;
  font-style: italic;
 
  
}

h1{
  color: grey;
  font-size: 150%;
  margin: 2% 0% 5% 0%
  
}


/* Select Data */

.button_sd {
  font-size:1rem;
  border-radius: 12%;
  padding: 1% 2%; 
  opacity: 0.6;
  margin: 1% 0% 1% 0% ;
  border-color: #e7e7e7;
}

.button_sd:hover {
	opacity: 1
}

.drop_class {
  
    border-color: red;
    /* margin: 1% 40% 1% 0% ; */
}



/* PORTFOLIO DISPLAY */

h2{
  font-weight: bold;
  font-size: 150%;
  margin: 5% 0% 0% 0% ;
}

h3  {
  font-size: 110%;
  font-weight: bold;
}
li{
  font-weight: bold;
}

/* DYNAMIC TABLE */

.table{
  
  width: 70%;
}

th {
  background-color: grey;
  color: white;
  font-weight: bold;
}

th, td {
  padding: 1% ;
  text-align: left;
  font-size: 90%;
  border-bottom: 5% solid #ddd;
  vertical-align: center;
  height: 1%;
}
tr:nth-child(even) {background-color: #f2f2f2;}

